<nav class="navbar navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Statistics', taxi_rides_path %></li>
        <li><%= link_to 'Register taxi ride', new_taxi_ride_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
